
<%# 画面上部部分 %>
  <div class='title-contents'>
    <h2 class='service-title'>
      みんなのシーシャ活動アプリ
    </h2>
    <p class='service-explain'>
      IN TO SHISHAはみんなのシーシャ活動記録がシェアできる
    </p>
    <p class='service-explain'>
      シーシャ業界初のsnsアプリです
    </p>
    <div class='store-btn'>
      <%#= link_to image_tag("app/assets/images/app.png", class:"apple-btn"), "#" %>
      <%#= link_to image_tag("app/assets/images/google.png", class:"google-btn"), "#" %>
    </div>
  </div>

  <h1>店舗検索</h1>
  <%= search_form_for @q, url: stores_searchstore_path do |f| %>
    <%= f.label :store_name_cont, '店舗名(キーワード可)' %>
    <%= f.search_field :store_name_cont %>
    <br>
    <%= f.label :prefecture_id_eq, '都道府県検索' %>
        <%= f.collection_select(:prefecture_id_eq, Prefecture.all, :id, :name, {}, {class:"companion-select"}) %>
    <%= f.submit '検索' %>
  <% end %>

  <%# /画面上部部分  %>

<%# レビュー一覧表示 %>
<div class='review-contents'>
    <h2 class='title'>みんなの煙活一覧</h2>
    <%= link_to '新規投稿', new_store_path, class: "subtitle" %>
    <ul class='review-lists'>

    <% @stores.each do |store| %>
      <%= link_to store.store_name, store_path(store.id) %>
      <%= store.prefecture.name %>
      <%= store.city %>
      <%#= render partial: "shares/index" %>
    <% end %>

    <%# <% if @review.length == 0 %>
      <%# <li class='list'>
        <%= link_to '#' do %>
        <%# <%= image_tag "shisha.png", class: "shisha-img" %>
        <%# <div class='review-info'>
          <h3 class='review-name'>
            レビューを投稿してね！
          </h3>
          <div class='review-date'>
            <span>20XX-01-01<br></span>
            <div class='heart-btn'>
              <%= image_tag "heart.png", class:"heart-icon" %>
              <%# <span class='heart-count'>0</span>
            </div>
            
          </div>
        </div>
        <% end %>
      <%# </li>
    <% end%>

    </ul>
  </div>

</div>
<%= link_to( new_store_path,method: :get, class: 'review-btn') do %>
  <span class='review-btn-text'>店舗登録</span>
  <%= image_tag 'review-btn.png' , size: '185x50' ,class: "review-btn-icon" %>
<% end %>

<%# /レビュー一覧表示 %>